//oops, added color while watching video variables section.
//adding this to create change to commit with message.
$orange: orange;
$small-blue: aliceblue;
$med-blue: lightblue;
$large-blue: skyblue;
$xlarge-blue: lightsteelblue;
$black: black;
$red: red;
