//added during videos, adding this for update change

$primary-font: 'Open Sans', sans-serif;

$header-font: 'Aclonica', sans-serif;

$secondary-header-font: 'Oswald', sans-serif;

$tertiary-header-font: 'Roboto', sans-serif;
