.h1 {
  font-family: $header-font;
  font-size: 36px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.h2 {
  font-family: $header-font;
  font-size: 30px;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.h3 {
  font-family: $secondary-header-font;
  font-size: 28px;
  padding: 5px;
}

.h4 {
  font-family: $secondary-header-font;
  font-size: 24px;
}

.h5 {
  font-family: $tertiary-header-font;
  font-size: 18px;
}

.h6 {
  font-family: $tertiary-header-font;
  font-size: 16px;
}

p {
  font-family: $primary-font;
  font-size: 16px;
}

nav ul {
  list-style: none;
  text-align: center;
  border-top: 2px solid $orange;
  border-bottom: 2px solid $orange;
}

nav ul li {
  padding: 15px;
  display: inline-block;
}

a.nav-link {
  font-family: $tertiary-header-font;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
